body {
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ad {
    background: #f4f4f4;
    padding: 10px;
    font-size: 14px;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 0 10px;
    
}

.container li {
    list-style:circle;
    list-style-position: inside;
    /* margin: 10px 0;  */
    padding-left: 15px;
    margin-left: 0;
}

/* .container ul {
    padding: 0;
    margin: 0;
    list-style-position: inside;
    
} */
h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.drop-zone {
    border: 2px dashed #bbb;
    padding: 40px;
    cursor: pointer;
    margin-bottom: 20px;
}

.drop-zone.hover {
    border-color: #0088cc;
}

.controls {
    margin-bottom: 20px;
}

#output img {
    max-width: 100%;
    margin-top: 20px;
    border: 1px solid #ddd;
}